.d-none{
    display:none;
}


.no-style-dsp {
    list-style-type: none;
    list-style: none;
}



#assg-chore-list {
    justify-content: space-around;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
  }

  .row-cards {
      padding-top: 10px;
      padding-bottom: 10px;
  }

  

